/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {

// Ref: https://zmkfirmware.dev/docs/codes/

// ----------------------------------------------------------------------------------------------------------------------------------
// |       |     |     |        |        |      |                          |      |        |        |      |       |      | |     |      |      |
// |       |  Q  |  W  |  E     |  R     |  T   |                          |  Y   |   U    |   I    |  O   |   P   |      | |     |      |      |
// |       |  A  |  S  | D/LALT | F/LSUP |  G   |                          |  H   | J/RSup | K/RAlt |  L   |   ;   |      | |     |      |      |
// |       |  Z  |  X  |  C     |  V     |  B   |                          |  N   |   M    |   ,    |  .   |   /   |      | |     |      |      |
//                     |      |      | MEH  | LSHIFT |         | RCTRL | Lay2 |       |       |
			bindings = <
&trans  &trans &trans &trans      &trans      &trans                           &trans   &trans   &trans    &trans  &trans   &trans    &trans  &trans  &trans
&trans  &kp Q  &kp W  &kp E       &kp R       &kp T                            &kp Y    &kp U    &kp I     &kp O   &kp P    &trans    &trans  &trans  &trans
&trans  &kp A  &kp S  &hm LALT D  &hm LGUI F  &kp G                            &kp H    &hm RGUI J  &hm RALT K  &kp L   &kp SEMI &trans            &trans 
&trans  &kp Z  &kp X  &kp C       &kp V       &kp B                            &kp N    &kp M    &kp COMMA &kp DOT &kp FSLH &trans    &trans  &trans  &trans
                    &trans &trans &mt LC(LS(LALT)) &sk LSHIFT    &sk RCTRL &to 1    &trans   &trans
			>;
		};

		lower_layer {
// ---------------------------------------------------------------------------------------------------------------------------------- 
// |      |       |         |      |      |      |                        |      |      |      |      |       |       | |      |      |      | 
// |      |  1!   |  2@     |  3#  |  4$  |  5%  |                        |  6^  |  7&  |  8*  |  9(  |   0)  |       | |      |      |      | 
// |      |  ESC  |  `~     |  -_  |  =+  | PgUp |                        |  '"  |  [{  |  ]}  |  \|  | ENTER |       | |      |      |      | 
// |      |  TAB  | PrntScn |      |      | PgDn |                        | HOME |  END | INS  | DEL  | BACK  |       | |      |      |      | 
//                       |      |      | Lay1 | LSHIFT |      |  RALT  | Lay3 |      |      |
			bindings = <
&trans   &trans   &trans     &trans     &trans     &trans                          &trans    &trans    &trans    &trans    &trans   &trans    &trans  &trans  &trans    
&trans   &kp N1   &kp N2     &kp N3     &kp N4     &kp N5                          &kp N6    &kp N7    &kp N8    &kp N9    &kp N0   &trans    &trans  &trans  &trans 
&trans   &kp ESC  &kp GRAVE  &kp MINUS  &kp EQUAL  &kp PG_UP                       &kp SQT   &kp LBKT  &kp RBKT  &kp BSLH  &kp RET  &trans            &trans
&trans   &kp TAB  &kp PSCRN  &trans     &trans     &kp PG_DN                       &kp HOME  &kp END   &kp INS   &kp DEL   &kp BKSP    &trans    &trans  &trans  &trans
                                   &trans  &trans  &to 0  &sk LSHIFT     &sk RALT  &to 2  &trans  &trans
			>;
		};

		raise_layer {
// ---------------------------------------------------------------------------------------------------------------------------------- 
// |     |      |      |      |      |      |                    |      |       |       |      |        |     | |     |      |      | 
// |     |  F1  |  F2  |  F3  |  F4  |  F5  |                    |      |       |       |  DEL |  BACK  |     | |     |      |      | 
// |     |  F6  |  F7  |  F8  |  F9  |  F10 |                    |  <-  |   ↓   |   ↑   |  ->  | ENTER  |     | |     |      |      | 
// |     | Lay5 |      |      | F11  | F12  |                    | BT 1 |  BT 2 | BT 3  | BT 4 |        |     | |     |      |      | 
//               |        |        |  Lay1  |  LWin  |  |  RAlt  | Lay2 |       |       |
			bindings = <
&trans   &trans  &trans  &trans  &trans  &trans                  	   &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans    
&trans   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                  	   &trans     &trans     &trans     &kp DEL     &kp BKSP    &trans    &trans  &trans  &trans 
&trans   &kp F6  &kp F7  &kp F8  &kp F9  &kp F10                	   &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT   &kp ENTER   &trans            &trans
&trans   &trans  &trans  &trans  &kp F11  &kp F12                          &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans  &trans    &trans  &trans  &trans
                          &trans  &trans  &to 0  &kp LMETA      &kp RALT  &to 1       &trans     &trans
			>;
		};
	};
};
